@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Montserrat",sans-serif;
}
/*nav*/
.nav{
    display:flex;
}
.menuNav{
    list-style: none;
}
.nav-barra{
    color:white;
    background:none;
    border:none;
    font-size:25px;
    display:none;
    cursor:pointer;

}

.textoNav{
    display: block;
    text-decoration: none;
    color: white;
    margin: 30px;
    padding: 10px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.textoNav:hover{
    color:cyan;
}

.subNav{
    display:inline-block;
    padding:0px 20px;
    transition: all 0.3s ease 0s;
    width: max-content;
}

.logo{
    position: relative;
    cursor:pointer;
    height:100px;
    width: 180px;
    object-fit: cover;
    left:0px;
    line-height:60px
    
}
header{
    display:block;
    position: relative;
    align-items: center;
    width:100%;
}
.contNav{
    height:10%;
    width:100%;
    display:flex;
    justify-content: space-between; 
    /*align-items: right;
    padding:10px; */
    background-color: #47bbec;
    max-width:8000px;
    min-width:250px;
}
@media(max-width:991px){
    .nav-barra{
        display:block;
        padding-left: 30rem;
    }
    .menuNav{
        display:flex;
        flex-direction:column;
        align-items:center;
        background-color: #2c3e50;
        position:fixed;
        left:0;
        top:100px;
        width:100%;
        overflow-y:auto;
        height: calc(100%-60px);
        left:100%;
        transition: left 0.3s;
    }
    .textoNav{
        font-size:20px;
    }
    .nav{
        display:block;
    }
    .contNav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin:0 auto;
        padding-left:1.5rem;
        padding-right:1.5rem;

    }
    header{
        max-width:none;
    }
    .menuNavVisible{
        left:0;
    }
    .nuestrosDestinos{
        flex-direction:column;
    }
}
@media(max-width:280px){
    .nav-barra{
        display:block;
        padding-left: 0;
    }
}
@media(max-width:730px){
    .nav-barra{
        display:block;
        padding-left: 3rem;
    }
}
/*/nav*/
article{
    display:block;
}
.destinos{
    margin: 16px auto 0;
    max-width: 1300px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.dest-box{
    padding: 0 10px;
}
.textoMejores{
    text-align: left;
    display: inline-block;
    color: #4a4a4a;
    font-size: 30px;
}
.asd{
    margin-top: 30px;
    flex:1 1 60%;
}
.contenedorDestinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.contenedorMiniDestinos1{
    display: flex;
    margin-right: 20px;
    min-height: 380px;
    cursor: pointer;
    flex: 1 1 30%;
}
.linkContenedor{
    display:flex;
    flex-direction: column;  /* https://developer.mozilla.org/es/docs/Web/CSS/flex-direction#:~:text=La%20propiedad%20CSS%20flex%2Ddirection,(normal%20o%20al%20rev%C3%A9s).*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
    border-radius: 2px;
    text-decoration: none;
    margin-bottom: 20px;
    flex: 1 1 100%;
}
.imagenContLink1{
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    max-height: 250px;
    background: url("miamiii.jpg") no-repeat center;
    background-size: cover;
}
.imagenContLink2{
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    max-height: 250px;
    background: url("hawaiii.jpg") no-repeat center;
    background-size: cover;
}
.imagenContLink3{
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    max-height: 250px;
    background: url("caribbean\ \(1\).jpg") no-repeat center;
    background-size: cover;
}
.imagenContLink4{
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    max-height: 250px;
    background: url("tailandia.jpg") no-repeat center;
    background-size: cover;
}
.imagenContLink5{
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    max-height: 250px;
    background: url("londres.jpg") no-repeat center;
    background-size: cover;
}
.imagenContLink6{
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    max-height: 250px;
    background: url("Seven-Lakes-Route-Road-Trip-Argentina-Old-Log-1.jpg") no-repeat center;
    background-size: cover;
}
.box-linkcont{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    flex:1;
    justify-content:space-between;
    background: white;
    min-height:63px;
    border-radius:0px 0px 5px 5px;
    padding:15px;
}
.articuIzq{
    display:block;
    flex:1 1 50%;
}
.articuDere{
    display:block;
    text-align: right;
    flex: 1;
}
.nombreDestino{
    color:red;
    font-size:25px;
}

.textoDesde{
    margin-bottom: 5px;
    font-size: 12px;
}
.textoPrecio{
    color:red;
    font-size:24px;
    font-weight:bold;
    display: flex;
    justify-content:flex-end;
}
.textoImpuesto{
    margin-bottom: 5px;
    font-size: 12px;
}
.verVuelo{
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    margin: 5px 0;
    align-self:flex-end;
}
/*contactos*/
.tituloS3{
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
}
.redessociales{
    height:50px;
    width: 50px;
    position:relative;
    margin:50px;
    cursor:pointer;
}
.contactos{
    text-align: center;
    padding:30px;
}
